# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.terraria-inventory-clone.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\sewen\Documents\Unreal Projects\ThirdPersonShooter\ThirdPersonShooterGit\terraria-inventory-clone\.idea\.idea.terraria-inventory-clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
